body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.hero_section {
    text-align: center;
    margin: 20px;
}

.img_box img {
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    background-color: #007bff;
}

.team_section .pricing-header {
    margin-bottom: 30px;
}

.card-title small {
    font-weight: 300;
}

.member_section .btn-outline-primary {
    margin-top: 20px;
}
